body{
    border:2px solid black;
    /* background-color: black; */
}
img{
    display:block;  
    /* to remove space after img ele */
}
header{
    background-color: #656d4a;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 15px;  
    height:50px; 
}

#search{
    border:1px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    gap:10px;
    padding:5px 10px;
    border-radius:10px;
}

#logo{
    height:50px;
    width:60px;
}

#location{
    height:30px;
}

#dishSearch{
    height:30px;
    width:300px;
}

.headButton{
    display:flex;   
    gap:25px;       
}

.headButton{
    height:45px;
    margin: 15px;
    font-size:19px;
    display: flex;
    align-items: center;
}
#b1{
    border-radius:5px;
    border:1px solid black;
    font-weight: bold;
    height: 30px;
} 
#b2{
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    height:30px;
}
.navStyle{
    color:white;
    text-decoration: none;
}

.cities{
    padding:20px 40px;
    height:250px;
    gap:1px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #a68a64;
}
.cities h2{
    margin-bottom:20px;
    font-weight: bolder;
}
.caption{
    /* height:30px;   */
    margin:10px 20px 20px 20px;
      
}
.row{
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    gap:60px;
    padding:20px;
}
table{
    width:100%;
    text-align:center;
}

.city-link{
    text-decoration:none;
    color:black;
    font-weight:bold;
    display:block;
    padding:10px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #414833;
}

.box{
    /* border:2px solid black; */
    height:300px;
    width:20%;
    
}
.fontColor{
    color:white;
    text-decoration:none;
}
.foothead{
    margin:50px 0px;
    color:white;

}

.parentcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:2px 2px 65px 2px;
    height:100%;
}
.container{
    background-color: #f9f7f6;
    display: flex;
    margin:auto;
    align-items:center;
    text-align: left;
    flex-direction: column; 
    gap:8px;
    border-radius: 10px;
    width:250px;
    padding:5px 5px 30px 5px;
    height: 300px;

}
.categories button{
    background-color: #a68a64;
    border-radius: 10px;
    height: 25px;
}
#f1{
    height:150px;
    width:100%;
    border-radius: 8px;
}
#first{
    height:150px;
    width:100%;
    border-radius: 8px;
}

#second{
    height:150px;
    width:100%;
    border-radius: 8px;
}
#third{
    height:150px;
    width:100%;
    border-radius: 8px;
}
.button{
    margin-top:10px;
    background-color:#414833;
    color:white;
    border-radius: 6px;
}

.title{
    text-align:center;
    margin-top:30px;
}
.categories{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:30px;
}